
/*
This CSS resource incorporates links to font software which is the 
valuable copyrighted property of Monotype and/or its suppliers. You 
may not attempt to copy, install, redistribute, convert, modify or reverse 
engineer this font software. Please contact Monotype with any questions 
regarding Web Fonts: http://www.fonts.com
*/
@font-face{
    font-family:"Uni Sans W01 Bold";
    src:url("../Fonts/6013393/b46d9a47-ee5b-4506-ba43-d11b2bf73052.woff2") format("woff2"),url("../Fonts/6013393/399c962b-42ca-413d-87b1-2e369a590e1b.woff") format("woff");
}
body{
    background-color: #212121;
    font-family:"Uni Sans W01 Bold";
}


nav {
    padding-bottom: 30px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding-right: 14vh;
    padding-left: 14vh;
    padding-top: 75px;
}
.logo {
    padding-top: 10px;
}
.mainNav{
list-style-type: none;
float: right;
}
.mainNav li {
    list-style: none;
    display:inline-block;
}
#resume{
    padding-right: 0px;
}
.mainNav li a {
    color: #E7F1F2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 36px;
  padding-right: 30px;

  
}

.landingHero {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-top: 10px;

}
.sideText{
    float: left;
    padding-left: 14vh;
    position: fixed;
}
.aboutMeImages{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-left: 33%;
    padding-top: 10px;
    width: 70%;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: #212121;
    top: 0;
    display: flex;
    align-items: center;
  }
  .preloader #cd {
    animation: spin 3s ease;
    transition: all;
    width: 150px;
    margin: 0 auto;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);

    }
    50% {
      transform: rotate(360deg);

    }
    100% {
      transform: rotate(720deg);
      opacity: 0;
    }
  }
  