@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}



input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 450px;
    height: 450px;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.container {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding-bottom: 15%;
    left: 50%;

    transform: translate(-50%);
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;

    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;

    img {
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
}

.player {
    width: 320px;
    
    z-index: 5;
    background-color: #CBCCCD;
    border-top: 2px solid #E7F1F2;
    border-left: 2px solid #E7F1F2;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right:15px;
    padding-top: 5px;
}

.player-header {
    height: 25px;
    position: relative;
    text-align: left;
    color: #fff;
    padding: .25em .75em;
    line-height: 1.4;
    width: calc(100% + 30px);
    right: 15px;
    bottom: 5px;
    border-top: 1px solid #CBCCCD;
    border-left: 1px solid #CBCCCD;
    border-right: 2px solid #CBCCCD;
    border-bottom: 1px solid #CBCCCD;
    background: #18445A;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.upper-part {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
}

.play-icon {
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    
    border-left: 20px solid #18445A;
}

.windows-button {
    border:none;
    background:none;
    margin-top: 3px;
}

.song-info {
    width: calc(100% - 32px);
    display: block;
}

.song-info .title {
    color: #212121;
    font-size: 14px;
    line-height: 24px;
}

.sub-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subtitle,
.time {
    font-size: 12px;
    line-height: 16px;
    color: #18445A;
}

.time {
    margin-left: auto;
}

.progress-bar {
    height: 3px;
    width: 100%;
    background-color: #E7F1F2;
    border-radius: 2px;
    overflow: hidden;
}

.progress {
    display: block;
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #18445A;
    border-radius: 6px;
}

.info-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    transition: transform .4s ease-in;
}

#item-2:checked~.player #test {
    transform: translateY(0);
}

#item-2:checked~.player #test {
    transform: translateY(-40px);
}

#item-3:checked~.player #test {
    transform: translateY(-80px);
}